<li [ngClass]="'list-group-item : true'"
    [ngStyle]="{ backgroundColor : getColor()}">

  <div>
    <h6 style="float: right; color: darkgrey"> {{date | date: 'short'}} </h6>
    <h2 [ngClass]="{'greenClass': postLikes>0,
     'redClass': postLikes<0}"> {{ postTitle }}</h2>

    <p [ngClass]="{'greenClass': postLikes>0,
     'redClass': postLikes<0}"> {{ postDetails }} </p>
    <button class="btn btn-success" (click)="love()">Love!!</button>
    <button class="btn btn-danger" (click)="dontLove()" style="margin-left: 5px">Don't love!!</button>
    <button class="btn btn-danger float-sm-right" (click)="deleteItem()">Supprimer post</button>
  </div>
</li>
